
html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 110%;
}
.b1{
  width: 100%;
  height: 100%;
  margin: auto;
  background: url(https://images.pexels.com/photos/733174/pexels-photo-733174.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat 50% 50%;
  top: 0;
  display: table;
  background-size: cover;
}
.b1 .in1{
  display: table-cell;
  vertical-align: middle;
  width: 1000%;
  max-width: none;
}
.content{
  max-width: 1000px;
  margin: auto;
  text-align: center;
}
.content h1{
  font-family: 'Century Gothic',sans-serif;
  color: #f9f3f4;
  font-size: 250%;
  
    
}

.content h5{
  font-family: 'Century Gothic',sans-serif;
  color: #f9f3f4;
  font-size: 150%;
   line-height: 100%;
}




.content .btn{
 border-radius: 9px;
  color: black;
  text-decoration: none;
  font-family: 'Century Gothic',sans-serif;
  border: 3px solid;
  padding: 7px 13px;
  
   font-size: 200%;
   background-color: yellow;
}
.content .btn:hover{
  color: blue;
}
p{
  font-size: 70%;
  line-height: 200%;
  text-align: center;
  margin: 3%;
  font-family: arial;
}

